<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
    
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
	
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	
	<link href="/stylesheets/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/stylesheets/animate.min.css" rel="stylesheet"/>
    <link href="/stylesheets/main.css" rel="stylesheet" />
	
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-image/image/sidebar-5.jpg>
		      <div class="sidebar-wrapper">
		
                    <div class="logo">
                        <a target="_blank" href="http://www.safe-lanes.com" class="simple-text">
                            <img src="/images/SafeLanes_logo.png" class="imgclass" />
                        </a>
                    </div>
                    <ul class="nav">
                        <li>
                            <a href="/dashboard">
                               <p>Dashboard</p>
                            </a>
                        </li>
                        
					 						
						<li>
                            <a href="/employees">
                               <p>Employee Master</p>
                            </a>
                        </li>
						
                        <li class="active">
                            <a href="/vdranalysiss">
                                <p>VDR Job Tracker</p>
                            </a>
                        </li>
                        <li>
                            <a href="/jobassignments">
                               <p>Vessel Job Tracker</p>
                            </a>
                        </li>
						<li>
                            <a href="/clients">
                               <p>Client Details</p>
                            </a>
                        </li>
						<li>
                            <a href="/observationanalysis">
                               <p>Observation Analysis</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
 <div class="main-panel" data-color="orange" >
        <nav class="navbar navbar-default navbar-fixed" >
            <div class="container-fluid">
	    <!--added new -->
	    	<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
	   <!--added new -->
                <div  align="right">
                   <a href="">Account</a>
                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                   <a href="#">Log out</a>
                </div>
            </div>
			
		</nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                              <h5><a href="/vdranalysiss">VDR Analysis List</a></h5>
                              <h5>Edit VDR Analysis</h5>
							  </div>
							<div class="content">
                            <form id="editvdranalysis" action="/vdranalysiss/update/<%= vdranalysis._id%>" enctype="multipart/form-data" method="post">
							
							<div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Company *</label>
										   <select name="company" class="form-control" id="company">
												  <option selected value='<%= vdranalysis.company_id %>'><%= vdranalysis.company %></option>
                                                 
                                            </select>												  
                                      </div>
                                   </div>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Vessel *</label>
										   <select name="vessel" class="form-control" id="vessel">
												  <option selected value='<%= vdranalysis.vessel_id %>'><%= vdranalysis.vessel %></option>
                                                 
                                            </select>
										 </div>
                                   </div>
								   </div>
                                 <div class="row">
                                   
                                   <div class="col-md-4">
                                      <div class="form-group">
                                          <label>VDR Make/Model </label>
										  <input type="text" class="form-control" placeholder="VDR Make" name="vdrmake" id="vdrmake" value="<%= vdranalysis.vdrmake %>">
                                           
                                      </div>
                                   </div>
								   
								   
                                    
                                   
								   <div class="col-md-6">
                                      <div class="form-group">
                                           <label>Vessel Schedule </label>
                                                 
                                         <div>
                                              <input type="radio" id="contactChoice1"
												   name="contact" value="routineanalysis">
												  <label for="contactChoice1">Routine Analysis</label>

												  <input type="radio" id="contactChoice2"
												   name="contact" value="incidentinvestigation">
												  <label for="contactChoice2">Incident Investigation</label>
                                         
                                         
									   </div>
                                   </div>
								   </div>
								 </div>
								 <div class="row">
                                   <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Analysis By </label>
                                                <select name="analysis" class="form-control">
												<option value=''>Select</li>
												<%if(vdranalysis.analysis_id != ''){%>
												<option selected value='<%= vdranalysis.analysis_id %>'><%= vdranalysis.analysis %></option>
												 <% } %>
								                 <% for(var i=0; i < analysis.length; i++){ %>
												  <% if(analysis[i]._id != vdranalysis.analysis_id){ %>
								                  <option value='<%= analysis[i]._id %>'><%= analysis[i].name %></li>
                                                 <% } %>
												  <% } %>
												  </select>
									   </div>
                                   </div>
                                   <div class="col-md-4">
                                      <div class="form-group">
                                            <label>Auditor </label>
                                                 <select name="employeename" class="form-control" id="employeename">
												 
												 <%if(vdranalysis.auditor_id != ''){%>
												 <option selected value='<%= vdranalysis.auditor_id %>'><%= vdranalysis.auditorname %></option>
												 <% } %>
                                                  <% for(var i=0; i < employee.length; i++){ %>
												     <% if(employee[i].employee_id != vdranalysis.auditor_id){ %>
												        <option value='<%= employee[i].employee_id %>'><%= employee[i].firstname %> <%= employee[i].lastname %></li>
                                                     <% } %>
												  <% } %>	 
                                                   </select>
                                      </div>
                                   </div>
                                 </div>
								 
								 <div class="row">
                                   <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Date Received from Client </label>
                                                 <input type="date" class="form-control" placeholder="Date Received from Client" name="drcvclient" id="drcvclient" value="<%= vdranalysis.drcvclient %>">
									   </div>
                                   </div>
                                   <div class="col-md-4">
                                      <div class="form-group">
                                           <label>All Documents Received </label>
                                               <input type="date" class="form-control" placeholder="All Documents Received" name="alldocrcvd" id="alldocrcvd" value="<%= vdranalysis.alldocrcvd %>">
                                      </div>
                                   </div>
                                 </div>
								 
								 
								 
								 <div class="row">
                                   <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Date Data Sent </label>
                                                 <input type="date" class="form-control" placeholder="Date Data Sent" name="dtdatasent" id="dtdatasent" value="<%= vdranalysis.dtdatasent %>">
									   </div>
                                   </div>
                                   <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Date Analysis Completed </label>
                                               <input type="date" class="form-control" placeholder="Date Analysis Completed" name="dtanacomp" id="dtanacomp" value="<%= vdranalysis.dtanacomp %>">
                                      </div>
                                   </div>
                                 </div>
								 
								 <div class="row">
                                   <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Date Assigned </label>
                                                 <input type="date" class="form-control" placeholder="Date Assigned" name="dtassign" id="dtassign" value="<%= vdranalysis.dtassign %>">
									   </div>
                                   </div>
                                   <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Date Delivered </label>
                                               <input type="date" class="form-control" placeholder="Date Delivered" name="dtdeliver" id="dtdeliver" value="<%= vdranalysis.dtdeliver %>">
                                      </div>
                                   </div>
                                 </div>
								 
								 <div class="row">
                                   <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Date Completed </label>
                                                 <input type="date" class="form-control" placeholder="Date Completed" name="dtcomp" id="dtcomp" value="<%= vdranalysis.dtcomp %>">
									   </div>
                                   </div>
                                   <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Due Date </label>
                                               <input type="date" class="form-control" placeholder="Due Date" name="duedate" id="duedate" value="<%= vdranalysis.duedate %>"> 
                                      </div>
                                   </div>
                                 </div>
							   
							    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Remarks</label>
                                                <textarea rows="3" class="form-control" name="remarks" id="remarks"></textarea>
                                            </div>
                                        </div>
                                 </div>
							  
							    <div class="row" >
								    <div class="col-md-4">
						               <div class="form-group">
                                           <label>Upload SEQ</label>
                                           <input type="file" class="form-control-file" name="doc" id="doc"/>
										</div>
									</div>
									<div class="col-md-4">
						               <div class="form-group">
                                           <label>Additional Documents</label>
                                           <input type="file" class="form-control-file" name="files[]" multiple/>
										</div>
									</div>
						        </div>
								
								<div class="row">
								 <div class="col-md-4">
						               <div class="form-group">
								              <% for(var i=0; i < listofdoc.length; i++){ %>
											  <% if(listofdoc[i].typeofdoc == "SEQ") {%>
				                                <a href="<%= listofdoc[i].filepath %>" target ="_blank"><%= listofdoc[i].document %></a></br> 
                                             <%}}%>								 
							           </div>
								  </div>
								  <div class="col-md-4">
						               <div class="form-group">
											  <% for(var i=0; i < listofdoc.length; i++){ %>
											  <% if(listofdoc[i].typeofdoc != "SEQ") {%>
				                               <a href="<%= listofdoc[i].filepath %>" target ="_blank"><%= listofdoc[i].document %></a></br> 
                                             <%}}%>				 
							           </div>
								  </div>
							    </div>
							   
                                <button type="submit" class="btn btn-info btn-fill pull-right">Update</button>
							    <div class="clearfix"></div>
                             </div>
							
                           </form>
                            </div>
                       </div>
                    </div>
			    </div>
         </body>
</html>

						 
<script type="text/javascript">

	jQuery( document ).ready(function( $ ) {
	 $('#remarks').val('<%= vdranalysis.remarks %>');
	 $('#vessel option:not(:selected)').prop('disabled', true);
	 $('#company option:not(:selected)').prop('disabled', true);
	
	 var selectemp = document.getElementById("employeename");
		 
	 sortSelect(document.getElementById("employeename"), 'text', 'asc');   
	
	  if('<%= vdranalysis.auditor_id %>'!=""){
	 
	    $('#employeename').val('<%= vdranalysis.auditor_id %>');
	 }
	 else{
	    $("#employeename option").eq(0).before($('<option>', {
		value: '',
		text: 'Select'
		}));
		$("#employeename")[0].selectedIndex = 0;
	 }
	if('<%=vdranalysis.vdrtype%>'!='')
       {
           if('<%=vdranalysis.vdrtype%>' == 'routineanalysis'){
              document.getElementById('contactChoice1').checked=true;
			  document.getElementById('contactChoice2').checked=false;
             }
          else
           {
             document.getElementById('contactChoice2').checked=true;
			 document.getElementById('contactChoice1').checked=false;
             
           }
       }
	  else
	  {
	         document.getElementById('contactChoice2').checked=false;
			 document.getElementById('contactChoice1').checked=false;
	  }
	   
    $('#createvdrjob').bootstrapValidator({
        container: '#messages',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
        
        }
    });
	
	
	
	jQuery('#alldocrcvd').on('input', function() {
	
	var dt=document.getElementById("alldocrcvd").value;
	var today1 = new Date(dt);
    today = addWorkDays(today1, 14);
	
	var str = $.datepicker.formatDate('yy-mm-dd', today);
    $('#duedate').val(str);
    });	
	
	 var dt1 = '<%= vdranalysis.drcvclient %>';
	 d1 = new Date(dt1);
	 $('#drcvclient').val($.datepicker.formatDate('yy-mm-dd', d1));
	 
	 var dt2 = '<%= vdranalysis.alldocrcvd %>';
	 d2 = new Date(dt2);
	 $('#alldocrcvd').val($.datepicker.formatDate('yy-mm-dd', d2));
	 
	 var dt3 = '<%= vdranalysis.dtdatasent %>';
	 d3 = new Date(dt3);
	 $('#dtdatasent').val($.datepicker.formatDate('yy-mm-dd', d3));
	 
	 var dt4 = '<%= vdranalysis.dtanacomp %>';
	 d4 = new Date(dt4);
	 $('#dtanacomp').val($.datepicker.formatDate('yy-mm-dd', d4));
	 
	 var dt5 = '<%= vdranalysis.dtassign %>';
	 d5 = new Date(dt5);
	 $('#dtassign').val($.datepicker.formatDate('yy-mm-dd', d5));
	 
	 var dt6 = '<%= vdranalysis.dtdeliver %>';
	 d6 = new Date(dt6);
	 $('#dtdeliver').val($.datepicker.formatDate('yy-mm-dd', d6));
	 
	 var dt7 = '<%= vdranalysis.dtcomp %>';
	 d7 = new Date(dt1);
	 $('#dtcomp').val($.datepicker.formatDate('yy-mm-dd', d7));
	
	 var dt8 = '<%= vdranalysis.duedate %>';
	 d8 = new Date(dt8);
	 $('#duedate').val($.datepicker.formatDate('yy-mm-dd', d8));
	
});


function addWorkDays(startDate, days) {
    // Get the day of the week as a number (0 = Sunday, 1 = Monday, .... 6 = Saturday)
    var dow = startDate.getDay();
    var daysToAdd = parseInt(days);
    // If the current day is Sunday add one day
    if (dow == 0)
        daysToAdd++;
    // If the start date plus the additional days falls on or after the closest Saturday calculate weekends
    if (dow + daysToAdd >= 6) {
        //Subtract days in current working week from work days
        var remainingWorkDays = daysToAdd - (5 - dow);
        //Add current working week's weekend
        daysToAdd += 2;
        if (remainingWorkDays > 5) {
            //Add two days for each working week by calculating how many weeks are included
            daysToAdd += 2 * Math.floor(remainingWorkDays / 5);
            //Exclude final weekend if remainingWorkDays resolves to an exact number of weeks
            if (remainingWorkDays % 5 == 0)
                daysToAdd -= 2;
        }
    }
    startDate.setDate(startDate.getDate() + daysToAdd);
	
    return startDate;
}
var sortSelect = function (select, attr, order) {
    if(attr === 'text'){
        if(order === 'asc'){
            $(select).html($(select).children('option').sort(function (x, y) {
                return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
            }));
            $(select).get(0).selectedIndex = 0;
            
        }// end asc
        if(order === 'desc'){
            $(select).html($(select).children('option').sort(function (y, x) {
                return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
            }));
            $(select).get(0).selectedIndex = 0;
            e.preventDefault();
        }// end desc
    }

};   

</script> 
<script src="/javascripts/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/javascripts/chartist.min.js"></script>
<script src="/javascripts/bootstrap-notify.js"></script>
<script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
<script src="/javascripts/light-bootstrap-dashboard.js?v=1.4.0"></script>    			