<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link href="/images/favicon.ico" rel="shortcut icon" type="image/png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<link href="/stylesheets/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />

	<!-- Animation library for notifications   -->
	<link href="/stylesheets/animate.min.css" rel="stylesheet"/>
	<link href="/stylesheets/main.css" rel="stylesheet" />
	
</head>
<body>
	<div class="wrapper">
		<div class="sidebar" data-color="blue">
			<div class="sidebar-wrapper">


				<div class="logo">
					<a target="_blank" href="http://www.safe-lanes.com" class="simple-text">
						<img src="/images/SafeLanes_logo.png" class="imgclass" />
					</a>
				</div>
				<ul class="nav">
					<li>
						<a href="/dashboard">
							<p>Dashboard</p>
						</a>
					</li>
					
					<li class="active">
						<a href="/employees">
							<p>Employee Master</p>
						</a>
					</li>
					
					<li>
						<a href="/vdranalysiss">
							<p>VDR Job Tracker</p>
						</a>
					</li>
					<li>
						<a href="/jobassignments">
							<p>Vessel Job Tracker</p>
						</a>
					</li>
					<li>
						<a href="/clients">
							<p>Client Details</p>
						</a>
					</li>
					<li>
						<a href="/observationanalysis">
							<p>Observation Analysis</p>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
			<div class="container-fluid">
				<div  align="right">
					<a href="">Account</a>
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<a href="#">Log out</a>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="header">
							<h5><a href="/employees">Employee List</a></h5>
						</div>
						<div class="content">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label>First Name</label>
										<input type="text" class="form-control" disabled value="<%= employee.firstname %>"></div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Last Name</label>
											<input type="text" class="form-control" disabled value="<%= employee.lastname %>">
										</div>
									</div>
								</div>
								<div class="row">

									<div class="col-md-4">
										<div class="form-group">
											<label>Gender</label>

											<input type="checkbox" id="GC1"
											name="gender" disabled value="Female">
											<label>Female</label>

											<input type="checkbox" 
											name="gender" disabled value="Male" id="GC2">
											<label>Male</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label>Address</label>
											<input type="text" class="form-control" disabled value="<%= employee.address %>"></div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label>Office Address</label>
												<input type="text" class="form-control" disabled value="<%= employee.office %>"></div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label>DoB *</label>
													<input type="date" class="form-control" id="dateofbirth" disabled value="<%= employee.dateofbirth %>">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Passport No. *</label>
													<input type="text" class="form-control" disabled value="<%= employee.passportno %>">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label>Country</label>
													<input type="text" class="form-control" disabled value="<%= employee.country %>">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>City</label>
													<input type="text" class="form-control" disabled value="<%= employee.city %>">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label>Date of Joining</label>
													<input type="date" class="form-control" id="dateofjoin" disabled value="<%= employee.dateofjoin %>">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Nationality</label>
													<input type="text" class="form-control" disabled value="<%= employee.nationality %>">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label>Martial Status</label>
													<div><input type="checkbox" id="MS1"
														name="maritalstatus" disabled value="Married">
														<label>Married</label>
														<input type="checkbox" id="MS2" 
														name="maritalstatus" disabled value="Unmarried">
														<label>Unmarried</label>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Permit Status</label>
													<input type="text" class="form-control" disabled value="<%= employee.permitstatus %>">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label>Comments</label>
													<textarea rows="5" class="form-control" disabled id="comment" name="comment"></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label>Father Name</label>
													<input type="text" class="form-control" disabled value="<%= employee.fathername %>"> 
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Mother Name</label>
													<input type="text" class="form-control" disabled value="<%= employee.mothername %>"> 
												</div>
											</div>
										</div>
										<h3><a href="/employees/edit/<%= employee._id %>" class="btn btn-info btn-fill pull-right">EDIT</a></h3>
										<form action="/employees/inactive/<%= employee._id%>" method="post">
											<button type="submit" id="btnInActive" class="btn btn-info btn-fill pull-right" onclick="return confirm('Are you sure?')">Inactive</button>
											<div class="clearfix">
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
								<% if ( employee.photo != null ) { %>
								<img src="<%= employee.photo %>" class="img-responsive">
								<h4 class="title"><%= employee.firstname %> <%= employee.lastname %><br/>
									<% }else { %>
									<h4 class="title">Photo Not Uploaded<br/>
										<% } %>
									</div>

								</div>
							</div>

						</body>
						</html>

						<script type="text/javascript">

							$(document).ready(function() {

								$('#comment').val('<%= employee.comment%>');

								var dt1 = '<%= employee.dateofbirth%>';
								d1 = new Date(dt1);
								$('#dateofbirth').val($.datepicker.formatDate('yy-mm-dd', d1));

								var dt2 = '<%= employee.dateofjoin%>';
								d2 = new Date(dt2);
								$('#dateofjoin').val($.datepicker.formatDate('yy-mm-dd', d2));

								if('<%=employee.status%>'!= 'Active'){

									document.getElementById('btnInActive').innerHTML="Active";

									$('#edit12').addClass('disabled');
								}

								if('<%=employee.maritalstatus%>'!=null)
								{

									if('<%=employee.maritalstatus%>'=="Married")		   
										document.getElementById('MS1').checked=true;
									else if('<%=employee.maritalstatus%>'=="Unmarried")	
										document.getElementById('MS2').checked=true;
								}

								if('<%=employee.gender%>'!=null)
								{

									if('<%=employee.gender%>'=="Female")		   
										document.getElementById('GC1').checked=true;
									else if('<%=employee.gender%>'=="Male")	
										document.getElementById('GC2').checked=true;
								}

							});

						</script>
						<!-- 						<script src="/javascripts/jquery.3.2.1.min.js" type="text/javascript"></script> -->
						<script src="/javascripts/chartist.min.js"></script>
						<script src="/javascripts/bootstrap-notify.js"></script>
						<script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
						<script src="/javascripts/light-bootstrap-dashboard.js?v=1.4.0"></script>   